@import url('./global.css');

/* HEADER*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--Silver);  
}
.logo-header img{
    width: 154px;
    height: 24px;
}
.nav-header ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-header ul li a{
    color: var(--Black);
    font-weight: var(--font-body2-height-regular);
    transition: 0.3s;
}
.nav-header ul li a:hover{
    color: var(--Primary);
    text-decoration: underline;
}
.container-btn-header button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.7s;
}

.container-btn-header button:hover{
     transform: scale(1.07);
}

.container-btn-header .btn-login{
    background-color: var(--Silver);
    border: 1px solid var(--D_grey);
}
.container-btn-header .btn-login a{
    color: var(--Primary);
}
.container-btn-header .btn-sign-up a{
    color: var(--White);
}
.container-btn-header .btn-sign-up{
    background-color: var(--Primary);
    color: var(--White);
}
/* FIM HEADER*/

/*MAIN*/

main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    padding: 96px 0px;
    background-color: var(--Silver);
}

.content-hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 657px;
    
}

.content-hero h1{
    font-size: var( --font-headline-1-size  );
}

.content-hero span{
    color: var(--Primary);
}

/*FIM MAIN

/* OUR CLIENTS */

.our-clients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin: 40px 0px;

} 

.our-clients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin: 40px 0px;

} 

.content-our-clients{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.container-logo-clients{
    display: flex;
    gap: 136px;
    padding: 25px 0px;
    justify-content: center;
    
}

/* FIM OUR CLIENTS



